
/*--------------------------------------------------------------
# שליטה על צבע הרקע של המגרשיים הפנויים
--------------------------------------------------------------*/

#1{
 background-color:none;	
}

#2{
 background-color:none;	
}

#3{
 background-color:none;	
}

#4{
 background-color:none;	
}
/*--------------------------------------------------------------
--------------------------------------------------------------*/


.ditale{
	

	width:60%;
	height:60%;

}

.ditaleBox{
	padding:5px;
}

.space{
	text-align:right;
	margin-bottom:30px;
	display: flex;
	justify-content: center;
    align-items: center; 
	height:40px;
}


.test{
	
	width:200px;
	height:30px;
	border-style: inset;
	margin:10px;
	display: inline-block;	
}

.picCourt {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  margin-bottom:20px;
  width: 110px;
  margin-left:10px;
}


.picCourt:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.mainHeaders{
	
	justify-content: center;
    align-items: center; 
	text-align: center;
	border-bottom: 1px solid #554E76;

}

.send{
	
	background-color:#1c3745;
	color: white;
	float:left;
}


.container2 {
  position: relative;
  font-family: Arial;
    display: inline-block;	
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #1c3745;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

 //פסים מסולסלים
 .contor-bg{	
	background: url("../img/dot3.png") top right no-repeat;	
}

