/* -----------table ---------- */

th, td {
  padding-right: 65px;
  font-size: 70%;
}


table {
  width: 100%;
}

/* -----------login page ---------- */

#loginPage form {border: 3px solid #f1f1f1;}


#LoginRformBox{

  width: 60%;
  box-shadow: 2px 2px 5px gray;
  padding:30px;
}

#loginPage input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#loginPage .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

#loginPage img.avatar {
  width: 40%;
  border-radius: 50%;
}

#loginPage .container {
  padding: 16px;
}

#loginPage span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
 #loginPage span.psw {
     display: block;
     float: none;
  }
 #loginPage .cancelbtn {
     width: 100%;
  }
}

/*----------------other pages--------------------- */
#testPhoto{	
	width:200px;
	height:200px;
}

.testDetails{
  float:left;
  margin-right: 20px;
}

#map {
  height: 100%;
  width: 100%;
  float: left;

}

#testCourt{
margin-left:15%;
margin-bottom: 5%;
display: inline-block;
}

#testLogo{
  width:20px;
height:20px;
}

#panel,#flip
{
padding:0px;
background-color: #1c3745  ;
width: 100%;
color: ivory;
}

#panel
{
padding:6px;
display:none;
}

#ClickHere{
  width:40px;
  height:40px;
  margin-right: 2%;
  margin-left: 2%;
}

.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.center{
    justify-content: center;
  align-items: center; 
text-align: center;
}

.title{
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid #554E76;
}

.openGameForm{

  justify-content: center;
  align-items: center; 
text-align: center;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #1c3745;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* HIDE RADIO */
#testCourt [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
#testCourt [type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
#testCourt [type=radio]:checked + img {
  outline: 2px solid #f00;
}

#continue{
  text-align: center;
  font-size: 20px;
  padding: 8px 15px; 
  width: 80px; 
  margin: 5px;
}



 




